<section class="services" id="services">
	<div class="container">
		<h1 class="section-title">services</h1>
		<div class="services__wrapper">
			<div class="services__items">
				<nav>
					<ul>
						<li>
							<button class="service-item is-active" data-id="0">
								web design
							</button>
						</li>
						<li>
							<button class="service-item" data-id="1">logo design</button>
						</li>
						<li><button class="service-item" data-id="2">ui</button></li>
						<li>
							<button class="service-item" data-id="3">photography</button>
						</li>
					</ul>
				</nav>
			</div>
			<div class="carousel">
				<div class="swiper services-swiper">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper">
						<!-- Slides -->
						<div class="swiper-slide carousel-item">
							<p>
								Web design is our passion. Our team likes to create unique web
								pages for our clients. Understanding users is key point to good
								interaction with him through web design.
							</p>
							<img src="./img/services-0.webp" alt="" />
						</div>
						<div class="swiper-slide carousel-item">
							<p>
								Logo is the first thing customer or user will see in your
								product. And his or her first impression will depend on it. We
								can create logo that will satisfy you and your clients.
							</p>
							<img src="./img/services-1.webp" alt="" />
						</div>
						<div class="swiper-slide carousel-item">
							<p>
								Nowadays smartphones are part of our life. With help of numerous
								apps we can do our life more simple and fun.Our UI department
								specialists can develop and test any app that you want to
								create.
							</p>
							<img src="./img/services-2.webp" alt="" />
						</div>
						<div class="swiper-slide carousel-item">
							<p>
								To create unique designs often you need some photos. In our time
								using stock photos is kind of bad manner. So we decided to open
								and develop our own photography department to create unique
								products for you.
							</p>
							<img src="./img/services-3.webp" alt="" />
						</div>
					</div>
					<div class="swiper-pagination"></div>
					<div class="carousel__buttons">
						<div class="button-prev">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								width="24"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M15.75 19.5 8.25 12l7.5-7.5"
								/>
							</svg>
						</div>
						<div class="button-next">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								width="24"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									d="m8.25 4.5 7.5 7.5-7.5 7.5"
								/>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
