<div class="menu">
	<h2 class="menu__title">menu</h2>
	<div class="menu__wrapper">
		<div class="menu__column">
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#">main</a>
					</li>
					<li class="nav__item">
						<a href="#">services</a>
					</li>
					<li class="nav__item">
						<a href="#">portfolio</a>
					</li>
					<li class="nav__item">
						<a href="#">blog</a>
					</li>
					<li class="nav__item">
						<a href="#">pricing</a>
					</li>
					<li class="nav__item">
						<a href="#">feedbacks</a>
					</li>
					<li class="nav__item">
						<a href="#">contacts</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="menu__column">
			<button class="button menu__button" id="form-btn">send message</button>
		</div>
	</div>
	<img class="menu__bg" src="./img/menu-bg.jpg" alt="" loading="lazy" />
</div>
