/* basic reset
==============
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
:root {
	--height: 100%;
}
html,
body {
	box-sizing: border-box;
	height: 100%;
	// font-size: 62.5%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans',
		Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	overflow: auto;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
.icon {
	fill: currentColor;
	stroke: currentColor;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
}
ul {
	padding: 0;
	list-style: none;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
* {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}