<main>
	<div class="container main-container">
		<div class="main-conent">
			<h1 class="main-title">undercover</h1>
			<div class="main-subtitle">design team</div>
			<div class="main-image">
				<img src="./img/bulb.jpg" alt="light bulb" width="260" />
			</div>
			<h2 class="slogan text-gradient-animate">
				our design's so wanted that we have to hide
			</h2>
		</div>
		<div class="scroll-sign">
			<span> scroll down to more </span>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				width="40px"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="m19.5 8.25-7.5 7.5-7.5-7.5"
				/>
			</svg>
		</div>
	</div>
</main>
