<main id="main">
	<div class="container main-container">
		<div class="main-conent">
			<h1 class="main-title">undercover</h1>
			<div class="main-subtitle">design team</div>
			<div class="main-image" id="main-image" style="display: none">
				<img src="./img/bulb.jpg" alt="light bulb" width="260" />
			</div>
			<div class="main-image" id="main-image-low">
				<img src="./img/bulb-min.jpg" alt="light bulb" width="260" />
			</div>
			<h2 class="slogan text-gradient-animate">
				our design's so wanted that we have to hide
			</h2>
		</div>
		<div class="scroll-sign">
			<span> scroll down to more </span>
			<svg class="icon">
				<use xlink:href="#down"></use>
			</svg>
		</div>
	</div>
</main>
