.feedback-item {
	max-width: 600px;

	&__text {
		padding-left: 24px;
		padding-bottom: 12px;
		font-size: 14px;
	}

	&__name {
		text-align: right;
		border-top: 1px solid var(--color-active);
		text-transform: uppercase;
		font-weight: 600;
		padding-top: 12px;
	}
}
