<section class="feedback">
	<div class="container">
		<div class="feedback__wrapper">
			<div class="feedback__col">
				<div class="section-title">feedbacks</div>
				<div class="feedback__timeline">
					@@include('./components/feedback/item/item.html',
					{"text":"Workingwith.","name":"SadasdasRAH ROBINSON"})
					@@include('./components/feedback/item/item.html',
					{"text":"Workingwith.","name":"SadasdasRAH ROBINSON"})
					@@include('./components/feedback/item/item.html',
					{"text":"Workingwith.","name":"SadasdasRAH ROBINSON"})
					@@include('./components/feedback/item/item.html',
					{"text":"Workingwith.","name":"SadasdasRAH ROBINSON"})
				</div>
				<button class="feedback__more">CLICK HERE FOR MORE FEEDBACKS</button>
			</div>
			<div class="feedback__col">
				<div class="section-title">add feedback</div>
				@@include('./components/feedback/form/form.html')
			</div>
		</div>
	</div>
</section>
