<div class="container">
	<h2 class="footer-text text-gradient-animate">
		THIS IS THE PLACE WHERE SPARKLES OF IDEA TURNS INTO FIRE
	</h2>
	<nav class="footer-nav">
		<ul>
			<li>
				<a href="#" class="footer-link">services</a>
			</li>
			<li>
				<a href="#" class="footer-link">portfolio</a>
			</li>
			<li>
				<a href="#" class="footer-link">feedbacks</a>
			</li>
			<li>
				<a href="#" class="footer-link">contact us</a>
			</li>
			<li>
				<a href="#" class="footer-link">contacts</a>
			</li>
			<li>
				<a target="_blank" href="#" class="footer-link">facebook</a>
			</li>
			<li>
				<a target="_blank" href="#" class="footer-link">linkedin</a>
			</li>
			<li>
				<a target="_blank" href="#" class="footer-link">twitter</a>
			</li>
			<li>
				<a target="_blank" href="#" class="footer-link">google+</a>
			</li>
		</ul>
	</nav>
</div>
