<section class="contacts">
	<div class="container">
		<div class="section-title">contacts</div>
		<div class="contacts__wrapper">
			<div class="contacts__col">
				<h3 class="contacts__title">phone</h3>
				<ul class="contacts__list">
					<li>
						<a href="tel:+38098000000">8-800-700-80-20</a>
					</li>
					<li>
						<a href="tel:+38098000000">8-800-700-80-20</a>
					</li>
				</ul>
			</div>
			<div class="contacts__col">
				<h3 class="contacts__title">email</h3>
				<ul class="contacts__list">
					<li>
						<a href="mailto:UNDERCOVERSUPPORT@MAIL.COM"
							>UNDERCOVERSUPPORT@MAIL.COM</a
						>
					</li>
					<li>
						<a href="mailto:UNDERCOVERSUPPORT@MAIL.COM"
							>UNDERCOVERSUPPORT@MAIL.COM</a
						>
					</li>
				</ul>
			</div>
			<div class="contacts__col">
				<h3 class="contacts__title">adress</h3>
				<div class="contacts__adress">
					<div>JAVASTRAAT 43,</div>
					<div>
						<span>AMSTERDAM</span>,
						<span>NETHERLANDS</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img
		class="contacts-img"
		src="./img/contacts.jpg"
		alt="sparkles"
		height="400"
	/>
</section>
